body {
  font-family: "Montserrat-Black";
}

h1 {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.75rem;
  font-weight: bold;
  text-decoration: underline;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.4rem;
  font-weight: lighter;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 400px;
  transform: rotate(25deg);
  position: absolute;
  margin: 0 0 0 3%;
  right: 30%;
}

.feature-text {
  font-family: 'Montserrat';
  font-weight: 300;
}

.feature-box {
  text-align: center;
  padding: 3%;
}

.feature-exp {
  color: #8f8f8f;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.testimonials-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 7%;
}

.cta-text {
  font-size: 3.5rem;
  font-family: "Montserrat-Black";
  line-height: 1.5;
}

.social-icons {
  margin: 20px 10px;
}

.foot-text {
  font-size: 1.6rem;
  opacity: 50%;
}

#title {
  background-color: #FF4C68;
  color: #fff;
}

#features {
  padding: 7% 20%;
  background-color: white;
  position: relative;
}

#testimonials {
  padding: 2% 7%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

#pricing {
  padding: 100px;
  text-align: center;
}

#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

#footer {
  padding: 3% 7%;
  background-color: #fff;
  text-align: center;
  font-family: "Montserrat-Black"
}

@media(max-width:1286px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}
